.header {
  width: 95%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 10px 10px0;
  margin: 0 auto 30px;
}

.photoContainer {
  width: 280px;
  position: relative;
  margin: 20px 20px 0 0;
}

.img {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: solid 1px #dfc5e8;
    border-radius: 50%;
    box-shadow: 4px 4px 15px #d1b9da;
}

.infoContainer {
    width: 50%;
    margin: 20px 0 0;
    text-align: center;
    align-content: center;
    color: #bc91b8;
    font-size: 1.5rem;
}

@media screen and (max-width: 650px) {
  .header {
    height: 180px;
  }

  .photoContainer {
    width: 180px;
  }

  .infoContainer {
    width: 60%;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: 150px;
  }

  .photoContainer {
    width: 150px;
  }

  .infoContainer {
    width: 60%;
    font-size: 1.2rem;
  }
}